/* Le code CSS spécifique à la page de documentation */

/* =================== GENERAL ==================== */
:root {
  --bg-color-white: #FFFCFB;
  --bg-color-orange: #FFF5EE;
  --primary-color: #FF944C;
  --secondary-color: #2C180B;
  --light-brown: #5E3519;
  --desc-text: #6C6C6C;
  --light-orange: #FFE0CA;

  --h1-font: 'Baloo 2', regular, sans-serif;
  --h2-font: 'Poppins', regular, sans-serif;
  --p-font: 'Inter', regular, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  color: var(--secondary-color);
  font-family: var(--p-font);
  background-color: var(--bg-color-white);
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--h1-font);
  color: var(--primary-color);
  font-size: 50px;
  line-height: 60px;
}

h2 {
  font-family: var(--h2-font);
  color: var(--primary-color);
  font-size: 35px;
}

p{
  font-family: var(--p-font);
  line-height: 1.6;
}

.hidden {
  display: none;          
}

.visible {
  display: block; 
}



/* =================== Classes ==================== */

.selected {
  font-weight: 600;
}

.container{
  margin: auto;
  max-width: 1060px;
} 

.container-small{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container2{
  display: flex;
  justify-content: space-between;
}

.sectionPadding{
    padding-block: 64px;
    
}

.sectionBackground{
  background-color:var(--bg-color-orange);
}

/* btn */
.btn{
  background-color: var(--primary-color);
  padding: 15px 25px;
  text-decoration: none;
  color: var(--bg-color-white);
  border-radius: 15px;
  font-size: 21px;
}

.secondary{
  background-color: var(--bg-color-white);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}





/* =================== NavBar ==================== */

#navBar{
  padding: 25px 70px;
  display: flex;
  justify-content: right;
  background-color: var(--primary-color);

  ul {
    display: flex;
    gap: 45px;
  }

  a{
    font-family: var(--p-font);
    color: var(--bg-color-white);
  }

  li{
    list-style: none;
  }
}

.selected {
  font-weight: 600;
}





/* =================== Section Hero ==================== */

#hero {
  background-image: 
    /* radial-gradient(circle, #fffcfb5a 5%, #fffcfb 60%, #fffcfb 100%), */
    url('asset/photo9-sans-bg.png');
  background-position: center;
  background-size: 800px;
  background-repeat: no-repeat;
  height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    padding-right: 190px;
    font-size: 44px;
  }
  
}

/* les cards  */
.card { 
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    background-color: var(--bg-color-white);
    padding: 30px;
    width: 219px;
    border-radius: 15px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.34);

    img {
      width: 100px;
      height: 100px;
    }
    .carte{
      img{
        width: 80px;
        height: 80px;
      }
    }

    h3 {
      font-size: 24px;
      color: var(--primary-color);
      text-align: center;
    }

    p {
      text-align: center;
      color: var(--desc-text);
    }
}





/* =================== Section Contexte ==================== */

#contexte{
  text-align: center;
  padding: 80px 20px;
}

#contexte h2{
  margin-bottom: 20px;
}

#contexte p{
  /* max-width: 900px; */
  line-height: 1.6;
  max-width: 1800px;
}





/* =================== Pour-Qui ==================== */
#pour-qui{
  padding: 80px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
  p{
    /* max-width: 900px; */
  line-height: 1.6;
  max-width: 1800px;
  } 
}

.personas{
  display: flex;
  justify-content: center;
  padding-top: 25px;

  img{
    width: 500px;
    height: auto;
    margin: 0 20px;
  }
  
}


/* section prototype */
#prototype{
  h2{
    align-items: center;
    text-align: center;
  }
}



/* =================== Section Partenaires ==================== */
#partenaires{
    display: flex;
    flex-direction: column;
    gap: 20px;  
    h2{

      text-align: center;
      margin-bottom: 20px;
    } 
} 

.partenairesLogos{
    display: flex;
    justify-content: center;
    gap: 25px;
    

    img {
      width: 225px;
    }
}



/* =================== Section Service ==================== */
#services{
  text-align: center;
}
.card-wrapper{
  padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    
}

.services {
  display: flex;
  gap: 30px;
  justify-content: center;
}
 
.card {
  background: #fff;
  padding: 30px;
  width: 300px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
 
/* au survol */
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}
 
/* au clic */
.card:active {
  transform: scale(0.96);
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}



/* =================== Section Téléchargement ==================== */
#telechargement{
  h2{
    /* text-align: center; */
    align-items: center;
  }
}

.sarah{
  width: 205px;
    height: 205px;
    object-fit: cover;
    border-radius: 50%;
}



/* =================== Section Maquette ==================== */
#maquette{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.contenu-maq{
  display: flex;
    /* align-items: center; */
    height: 260px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--secondary-color);

  p{
    width: 249px;
    font-size: larger;
    font-weight: 600;
  
  }
  img{
    height: 100%;
  }
}


/* =================== Section Prototype ==================== */
#prototype{
  p{
    text-align: center;
    margin-top: 25px;
  }

}
p{
  font-family: sans-serif;
  font-size: medium;
}

.frame-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

/* section Et la suite */
#Et-la-suite{
  text-align: center;
  padding: 80px 20px;
}
#Et-la-suite h2{
   margin-bottom: 20px;

}
#Et-la-suite p {
  line-height: 1.6;
  max-width: 1800px;

  


}




