/* =================== GENERAL ==================== */
:root {
  --bg-color-white: #FFFCFB;
  /* --bg-color-orange: #FFF5EE; */
  --bg-color-orange: #FFE0CA;
  --primary-color: #FF944C;
  --secondary-color: #2C180B;
  --light-brown: #5E3519;
  --desc-text: #6C6C6C;
  --light-orange: #FFE0CA;

  --h1-font: 'Baloo 2', regular, sans-serif;
  --h2-font: 'Poppins', regular, sans-serif;
  --p-font: 'Inter', regular, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  color: var(--secondary-color);
  font-family: var(--p-font);
  background-color: var(--bg-color-white);
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--h1-font);
  color: var(--primary-color);
  font-size: 50px;
  line-height: 60px;
}

h2 {
  margin-bottom: 25px;
  font-family: var(--h2-font);
  color: var(--primary-color);
  font-size: 35px;
  line-height: 1;
}

p{
  font-family: var(--p-font);
  line-height: 1.6;
}

/* .collapse {
  display: none;
  overflow: hidden;
} */


/* =================== CLASSES ==================== */
.container{
  margin: auto;
  max-width: 1060px;
} 

.sectionPadding{
  padding-block: 64px;
}

.sectionBackground{
  background-color:var(--bg-color-orange);
}

.btn{
  background-color: var(--primary-color);
  padding: 15px 25px;
  text-decoration: none;
  color: var(--bg-color-white);
  border-radius: 15px;
  font-size: 21px;
  border: 2px solid var(--primary-color);
  /* transition: transform 0.4s ease; */
  transition: ease-out 250ms;
}

.secondary{
  background-color: var(--bg-color-white);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn:hover {
  background: var(--gold);
  /* color: var(--dark-brown); */
  color: var(--primary-color);
  box-shadow: 0 10px 30px rgba(230, 193, 122, 0.35);
}

.secondary:hover {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn-border {
  position: relative;
  display: inline-block;
  padding: 14px 44px;
  border-radius: 999px;
  background: transparent;
  text-decoration: none;
  overflow: hidden;
}

/* Texte */
.btn-border span {
  position: relative;
  z-index: 2;
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
  letter-spacing: 0.25em;
  color: #e6c17a;
}

/* Contour animé */
.btn-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  /* épaisseur du contour */
  background: conic-gradient(from 0deg,
      transparent,
      #e6c17a,
      transparent,
      #e6c17a,
      transparent);
  animation: rotate-gold 3s linear infinite;

  /* masque pour garder uniquement le contour */
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes rotate-gold {
  to {
    transform: rotate(360deg);
  }
}



/* =================== HEADER ==================== */
#navBar {
  position: absolute;
  top: 0;
  left: 0;
    
  width: 100%;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.75);
    
  box-shadow: 0 5px 16px rgb(0 0 0 / 4%);
  animation: slideDown 0.8s ease-out;
  z-index: 1000;
  transform: translate(0);

  p {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: var(--h1-font);
    color: var(--primary-color);
  }

  li a:hover {
    transition: ease-in-out 250ms;
    color: var(--primary-color);
  }

  img {
    width: 50px;
  }
}

.logo-ya {
  display: flex;
  align-items: center;
  gap: 8px;
}

#navBar ul {
  display: flex;
  gap: 45px;
  list-style: none;
}
  
#navBar a{
  display: flex;
  gap: 32px;
}
 
#navBar a {
  position: relative;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  padding: 5px 0;
  transition: color 0.3s ease;
}
 
#navBar a a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #6366f1, #3b82f6);
  transition: width 0.35s ease;
}
 
#navBar a a:hover::after,
#navBar a a.active::after {
  width: 100%;
}
 
#navBar abbr a:hover {
  color: #111;
}

.selected {
  font-weight: 600;
}



/* =================== Section HERO ==================== */
#hero {
  /* background-image: 
    radial-gradient(circle, #fffcfb5a 5%, #fffcfb 60%, #fffcfb 100%),
    url('asset/photo10-sans-bg.png'); */
  /* background-position: center;
  background-size: 600px;
  background-repeat: no-repeat; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    font-size: 45px;
  } 
}

#heroContent{
  gap: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
  flex-wrap: wrap;

  img {
    width: 46%;
    min-width: 320px;
  }
  
  #heroContent1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 46%;

    p {
      font-size: 20px;
      line-height: 40px;
      font-weight: 500;
      /* margin-bottom: 30px; */
    }

    div {
      display: flex;
      gap: 20px;
    }
  }
}

/* =================== Section Partenaires ==================== */
#partenaire{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
    
  h2{
    text-align: center;
    margin-bottom: 20px;
  } 

  p{
    text-align: center;
    padding-top: 40px;
  }
} 

.partenairesLogos{
  display: flex;
  justify-content: center;
  gap: 45px;
  flex-wrap: wrap;

  img {
    width: 225px;
  }
}



/* =================== Section Problématiques ==================== */

#problematique {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .container {
    text-align: center;
  }

  img {
    /* width: 80%; */
    height : 82vh;
    padding-top: 20px;
    aspect-ratio: 790/900;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}



/* =================== Section Solutions ==================== */
#solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h2 {
  text-align: center;
}

.cardWrapperSolutions {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;  */
  justify-content: center;
  gap: 20px;
}

.card { 
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  background-color: var(--bg-color-white);
  padding: 30px 25px;
  width: 230px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.053);
  transition: transform 0.4s ease, box-shadow 0.4s ease;

  img {
    width: 80px;
    height: 80px;
  }

  h3 {
    font-size: 24px;
    color: var(--primary-color);
    text-align: center;
  }

  p {
    text-align: center;
    color: var(--desc-text);
  }
}

.card:hover {
    /* cursor: pointer; */
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}



/* =================== temoignages ==================== */

#temoignages {
  text-align: center;
}

#temoignages h2 {
  margin-bottom: 50px;
}

.cardWrapperTémoignages {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}                          

.cardTemoignage {
  position: relative;
  background-color: var(--bg-color-orange);
  border-radius: 20px;
  padding: 45px 30px;
  width: 290px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.053);
}

/* .cardTemoignage:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
} */

.vote {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.cardTemoignage p {
  font-size: 15px;
  line-height: 22px;
  color: var(--desc-text);
}

.etoiles {
  color: var(--primary-color);
  font-size: 12px;
}

.vote img {
  width: 55px;
  height: 55px;
  border-radius: 50px;
}



/* =================== Section Avantages ==================== */

#avantages{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h2{
      text-align: center;
      margin-bottom: 56px;
      color: var(--primary-color);
    } 
  }

.cardWrapperAvantages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.cardAvantage {
  background-color: var(--bg-color-white);
  width: 290px;
  padding: 45px 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.053);
  transition: transform 0.4s ease, box-shadow 0.4s ease;

  h3{
      color: var(--primary-color);
    } 

  p {
      text-align: center;
  }

  li{
    list-style: none;
    text-align: left;
  }
}

.cardAvantage:hover {
  /* cursor: pointer; */
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.cardAvantage-col { 
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cardAvantage-center {
  display: flex;
  flex-direction: column;
  text-align: center;
}



/* =================== telechargement ==================== */

#telechargement {
  background-color: var(--primary-color);
  color: var(--bg-color-white);

  h2 {
    color: var(--bg-color-white);
  }

  .container {
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .btn {
    background-color: var(--secondary-color);
    color: var(--bg-color-white);
    border: 2px solid var(--secondary-color);
  }

  .secondary {
    background-color: var(--bg-color-white);
    color: var(--primary-color);
    border: 2px solid var(--bg-color-white);
  }

  .btn:hover {
    background-color: var(--bg-color-white);
    color: var(--secondary-color);
  }

  .secondary:hover {
    border: 2px solid var(--secondary-color);
  }
}

#dwlContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap:wrap;
}

#dwlContent1 {
  width: 46%;
  h2 {
    font-size: 40px;
    text-align: left;
  }

  img {
    width: 46%;
    min-width: 320px;
  }
}

#dwlContent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  img {
    width: 500px;
  }
}

.downloadButtons {
  display: flex;
  gap: 45px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--desc-text)
  }

  #btn_GooglePlay {
    width: 200px;
    height: 60px;
    background-image: url('asset/logoButton-GooglePlay.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.25s ease;
  }

  #btn_AppleStore {
    width: 200px;
    height: 60px;
    background-image: url('asset/logoButton-AppStore.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.25s ease;
  }

  #btn_GooglePlay:hover, #btn_AppleStore:hover {
    transform: translateY(-4px);
  }
}



/* ================== FAQ =================== */

#foire-au-question {
  /* border-top: 1px solid var(--secondary-color); */
  padding: 64px 0;

  /* img {
    width: 33%;
  } */
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  div {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;

    i {
      border-radius: 0 15px 15px 0;
      padding: 12px 20px;
      font-size: 16px;

    }
  }

  div input {
    font-size: 16px;
    padding: 10px 8px;
    width: 100%;
    border: none;
    border-radius: 15px 0 0 15px;
    border-right: 1px solid var(--secondary-color);
  }
}

.asked {
  display: flex;
  justify-content: space-between;
}

.question-asked {
  background-color: var(--bg-color-orange);
  padding: 50px 0;
}

.question-blocks {
  margin-top: 30px;
  border-right: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
}

.answered, .asked {
  padding: 15px 30px;
}

.asked {
  background-color: var(--bg-color-white);
  border-top: 1px solid var(--secondary-color);
}

.answered {
  background-color: var(--light-orange);
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.094);
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.needs {
  background-color: var(--bg-color-orange);
}

.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
}

.chat1 {
  display: flex;
  padding: 8px 72px 8px 34px;
  align-items: center;
  background-color: var(--bg-color-white);
  border-radius: 15px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.078);
  transition: transform 0.25s ease;

  p {
    margin-left: 25px;
  }
}

.chat1:hover {
  cursor: pointer;
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

/* ======================= FOOTER ======================== */

/* #sectionFooter {
  border-top: 1px solid var(--secondary-color);
} */

#sectionFooter p {
  font-size: 14px;
}

#footerCoontent {
  margin: auto;
  max-width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;

  #ftContent1 {
    font-family: var(--h1-font);
    font-weight: 900;
    font-size: 55px;
    color: var(--primary-color);
  }

  #socialMedia {
    display: flex;
    gap: 25px;
    margin-top: -35px;
  }

  .fa-brands {
    color: var(--secondary-color);
    font-size: 25px;
    transition: ease-in-out 250ms;
  }

  .fa-brands:hover {
    color: var(--primary-color);
    transition: ease-in-out 250ms;
  }  

  #ftContent2 ul {
    list-style: none;
    line-height: 45px;
    font-weight: 600;

    li a {
      color: var(--secondary-color);
      text-decoration: none;
      transition: ease-in-out 250ms;
    }

    li a:hover {
    transition: ease-in-out 250ms;
    color: var(--primary-color);
    }
  }
}

.f {
  background-color: var(--light-orange);
  padding: 15px 32px;
  line-height: 5px;
}



/* responsive design */
@media screen and (max-width: 950px) {
  
  /* #heroContent img {
    width: 0%;
    height: 0%;
  } */

}